body{
  margin:0.1rem;
}
i{
  font-size: 2em;
}
.nav-item:hover{
  background-color: #E1E8EB;
}
.nav-item{
  text-align: center;
}
.endl{
  margin-left:0.75rem;
}
.endr{
  margin-right: 0.75rem;
}
.nav{
  border-right: 1px solid #D1D9D9;
  align-items: center;
  margin-top: 0.25rem;
}
.last{
  height:64px
}
.nav-link{
  text-align: center;
  padding:0.5rem;
  color:black;
}
.nav-link:hover{
  color:black
}
#title{
  display: block;
  color:#D1D9D9;
  margin: 0;
  text-align: center;
}
.section{
width:30%;
margin:auto;
display: inline-block;
}
#myTabContent{
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #D1D9D9;
}
canvas{
    border-width: 2px;
    border-radius: 0.25rem;
}
.form-control{
    border-radius: 0.5rem;
    width:auto;
}
.rotated{
  transform: rotate(90deg);
  margin-top: 17.8%;
  margin-left: 0;
}
#heatExcahngers{
    margin-top: 5%;
    margin-right: 10px;
    height: 600px;
    width:auto;
    float: left;
    display: inline-block;
}
#mainDisplay{
    float:left;
    margin-left: 25px;
    margin-top: 1.2rem;
    display: inline;
    width:150%;
    overflow: auto;
    height: 600px;
    border: 2px solid;
    border-color: #D1D9D9;
    border-radius: 0.25rem;
}
#delete{
  margin-top: 0.5rem;
}

#control{
    display: inline;
    width:40%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #595959;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

/* primary header */

.primary-header {
  padding: 24px 0;
  text-align: center;
  border-bottom: solid 2px #cfcfcf;
}

.primary-header__title {
  color: #393939;
  font-size: 36px;
}

.primary-header__title small {
  font-size: 18px;
  color: #898989;
}

/* content */

.content {
  padding: 48px 0;
  border-bottom: solid 2px #cfcfcf;
}

.content__footer {
  margin-top: 12px;
  text-align: center;
}

/* footer */

.primary-footer {
  padding: 24px 0;
  color: #898989;
  font-size: 14px;
  text-align: center;
}

/* tasks */

.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: solid 1px #dfdfdf;
}

.task:last-child {
  border-bottom: none;
}

/* context menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}
#cm{
  display:block;
  margin-top:1rem;
}
#cmHead{
  display: none;
}
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}
.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}
.child{
width:50%;
float:left;
}
#toggleList{
  width:20%;
  height:600px;
  margin-top: 1.2rem;
  margin-left:0.5rem;
  border-radius: 0.25rem;
  padding:12px 12px;
  border:2px solid #D1D9D9
}
#zoom{
  position:fixed;
  margin:1.2rem;
}
.clickable{
  cursor: pointer;
}
#inputData{
  padding: 2rem;
}

.form-control{
  display: inline;
}
.options{
  display: inline-block;
  width:10%;
}
#dataSubmit{
  margin-top:1.2rem;
  width:10%;
}
table{
  margin-top: 1.2rem;
}